@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  --yel: #f7e10e;
  --gry: #939599;
  ---y:#FFBB00;
  ---b:#00A1F1;
  ---r:#F65314;
  ---g:#7CBB00;

}
body {
  font-family: 'Vazir', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}


/*---Set for iPhoneX---*/
.App{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  height: 812px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: solid #aaa 1px;
  border-radius: 10px;
  padding: 6px;
}

.header, .header-mngr, .header-error{
  cursor: default;
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 40px;
  font-family: 'Lalezar';
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-error{
  margin-top: 300px;
  font-family: 'Vazir'
}

.header-mngr{
  font-size: 20px;
  align-self: flex-start;
  border-bottom: solid #999 1px;
  height: 80px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.goBack{
  position: absolute;
  left: 16px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 25px;
}

.goBack:hover{
  position: absolute;
  left: 16px;
  background-color: #f6f6f6;
}

.goBackIcon{
  color: #00A1F1;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-h1{
  color: var(--gry);
  cursor: pointer;
}

.header-h1-blue{
  color: #00A1F1;
}
.header-h1-red{
  color: #F65314;
}
.header-h1-green{
  color: #7CBB00;
}
.header-h1-yellow{
  color: #FFBB00;
}

.header-p{
  font-size: 20px;
  color: #202124;
  font-family: 'Vazir';
}

.login{
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.login-input{
  font-family: 'Vazir';
  margin: 17px 0;
  width: 300px;
  border-radius: 4px;
  color: #202124;
  font-size: 17px;
  height: 56px;
  padding: 13px 15px;
  outline: none;
  border: solid #aaa 1px;
}

.input-sub{
  font-size: 10px;
  width: 80%;
  text-align: right;
  font-weight: lighter;
}

#input-sub-u{
  display: none;
}

#input-sub-n{
  display: none;
}

.first-input-lineL{
  width: 40%;
  margin-right: 5px;
  font-size: 14px;
}

.first-input-lineR{
  width: 40%;
  margin-left: 5px;
  font-size: 14px;
}

.form-error{
  font-size: 12px;
  color: #E50914;
}

.button-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 300px;
}

.create-account{
  font-size: 17px;
  color: #00aba9;
  text-decoration: none;
}

.login-button, .submit-button{
  border: none;
  background-color: #00aba9;
  font-family: 'Vazir';
  text-align: center;
  margin: 20px 0;
  width: 70px;
  border-radius: 4px;
  color: white;
  font-size: .875rem;
  height: 36px;
  padding: 13px 15px;
  outline: none;
  line-height: 10px;
  cursor: pointer;
}
.submit-button{
  width: 100px;
}
.main-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  align-self: flex-end;
  margin-top: 200px;
}

.footer-item{
  margin: 0 10px;
  text-decoration: none;
  color: #111;
  font-size: 12px;
  opacity: .5;
  transition: all .2s;
}
.footer-item:hover{
  opacity: .8;
}

.notfound-h1{
  font-size: 120px;
}
.notfound-p{
  margin-top: -30px;
  font-size: 17px;
  font-family: 'Vazir';
}
.notfound2-p{
  margin-top: 10px;
  font-size: 10px;
  font-family: 'Vazir';
  color: #888;
  word-wrap: break-word;
  padding: 0 10px;
}
.notfound2-ret{
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Vazir';
  color: #888;
  padding: 10px 10px;
  width: 100px;
  align-self: center;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  transition: all .2s;
}
.notfound2-ret:hover{
  background-color: #f6f6f6;
  color: #666;
}

.mngr-bottom-nav{
  position: relative;
  align-self: flex-end;
  width: 100%;
  height: 90px;
  border-top: solid #999 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.mngr-add-info-cont, .mngr-add-info{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mngr-bottom-nav-alert{
  position: absolute;
  top: 45px;
  left: 70px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all .4s;
}

.mngr-bottom-nav-alert:hover{
  background-color: #f1f1f1;;
}

.mngr-bottom-nav-alertCircle{
  z-index: 1;
  position: absolute;
  top: 35px;
  left: 60px;
  transform: translate(-50%, -50%);
}

.popUp{
  cursor: default;
  position: absolute;
  border-radius: 10px;
  width: 90px;
  height: 50px;
  top: -15px;
  left: 68px;
  background-color: #ffab00;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.popUp::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 39px;
  left: 35px;
  transform: rotate(45deg);
  background-color: inherit;
  box-shadow: 6px 0px 0px rgba(0, 0, 0, 0.2);
}

.mngr-add-info{
  width: 90%;
  top: 0;
  height: 90%;
  text-align: center;
  background-color: #00A1F1;
  box-shadow: 0px -5px 7px rgba(0, 0, 0, 0.3);
}

.section-cont, .addInfo-cont, .addUserInfo-cont{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px 5px;
  overflow-y: auto;
}

.addUserInfo-cont{
  height: unset;
  overflow-y: visible;
  justify-content: center;
}

.addUserInfo-h1, .addUserInfo-p{
  align-self: center;
  color: #666;
}

.addUserInfo-p{
  color: #999;
  border: solid #999 1px;
  border-radius: 100px;
  padding: 8px;
  cursor: default;
  transition: all .2s;
}


.addUserInfo-p:hover{
  background-color: #f6f6f6;
  color: #666;
}

.addUserInfo-row{
  border-bottom: solid #999 1px;
  padding: 20px 0 20px 0;
}

.addUserInfo-row h3{
  font-weight: lighter;
}

.addUserInfo-row h3 span{
  font-size: 12px;
  color: red;
}

.addUserInfo-name-p{
  font-weight: lighter;
  font-size: 12px;
  margin: -10px 5px 30px 30px;
}

.addUserInfo-name-more{
  cursor: pointer;
}

.addUserInfo-name-more > summary{
  outline: none;
  color: #555;
  background-color: #fbfbfb;
  padding: 7px;
  border-radius: 10px;
}

.section{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border: solid #999 .1px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;
  flex: 0 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section:hover{
  background-color: #fbfbfb;
}

.section-title{
  font-size: 20px;
  width: 100%;
  border-bottom: solid #bbb 1px;
  padding-bottom: 10px;
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-contant{
  padding: 20px 5px;
  color: #777;
}

.done{
  position: relative;
  width: 30px;
  height: 30px;
  border: solid #555 1px;
  border-radius: 50%;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done:hover{
  background-color: #f1f1f1;
}

@keyframes go {
  from {left:0}
  to{left:1000px}
}

.mItem-cont{
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.mItem{
  position: relative;
  width: 160px;
  min-height: 155px;
  flex: 0 0 auto;
  border-radius: 10px;
  margin: 4px 2px;
  word-wrap: break-word;
  padding: 8px 8px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: all .3s;
}
.mItem:hover{
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
  transform: translate(-1%, -1%);
}

.mItem:hover h1{
  opacity: 1;
}

.mItem-h1{
  font-size: 25px;
  opacity: .7;
  border-bottom: solid #ffffff33 1px;
  transition: all .3s;
}

.mItem-p{
  font-size: 14px;
  padding-top: 10px;
  font-weight: lighter;
}

.activityDiag{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: -15px;
}

.activityLine{
  transition: all .4s;
}

.userCont{
  position: relative;
  border: solid #999 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
  cursor: pointer;
  transition: all .3s;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
}

.userCont:hover{
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 0 #666;
}

.userCont h1{
  font-size: 25px;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.userCont p{
  font-size: 15px;
  color: #999;
  cursor: default;
}

.noVerified:hover{
  cursor: pointer;
}

.Verified{
  border: solid #1B5E20 1px;
  background-color: #F1F8E9;
  color: #1B5E20;
}

.userContL{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  width: 50%;
}

.userContIcon{
  opacity: .8;
}

.userContIconCont{
  color: #999;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  padding: 5px 0;
  border-radius: 20px;
  overflow: hidden;
}

.userContIconCont:hover{
  width: 130px;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  padding: 5px 0;
  text-align: right;
}


.userContIconi{
  opacity: 0;
  transition: all .4s ;
}

.userContIconCont:hover .userContIconi{
  opacity: 1;
}

.userContInfo{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 6px;
}

.userContChip{
  border: solid #999 1px;
  height: 40px;
  width: 100%;
  margin: 2px 0;
  border-radius: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 7px;
}

.userContChipP{
  width: 100%;
  color:#999;
  text-align: center;
}

.userProfileCont{
  text-align: center;
}

.userProfileHed{
  text-align: center;
  color: #444;
  cursor: pointer;
}

.userProfileStat{
  margin-top: 10px;
  font-weight: lighter;
  padding: 10px;
  height: 50px;
  border: solid #999 1px;
  border-radius: 25px;
  cursor: default;
  opacity: .8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: all .7s cubic-bezier(0.91,0.23,0.26,0.63);
  font-weight: bold;
}

.userProfileStat h3{
  font-weight: lighter;
  padding-bottom: 10px;
  width: 90%;
}

.userProfileStat:hover{
  opacity: 1;
  height: 400px;
  border-radius: 10px;
}

.userProfileStatDit{
  color: #777;
  text-align: right;
  padding: 20px 10px 10px 10px;
  width: 90%;
}

.userProfileStatDit p{
  display: flex;
  justify-content: space-between;
}

.userProfileStatDitMess{
  margin-top: 25px;
  text-align: center;
  border-right: solid #999 1px;
  border-left: solid #999 1px;
  padding: 20px;
}

.adder{
  color: #222;
}

.adder:hover{
  color: #000;
}

.random{
  border: solid black 1px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: content-box;
}

.randomCell{
  width: 3px;
  height: 3px;
  box-sizing: border-box;
}

.notifCont{
  border: solid #999 1px;
  padding: 15px;
  border-radius: 10px;
  cursor: default;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
}

.notifHed{
  font-size: 17px;
  color: #555;
}

.notifBody{
  font-size: 15px;
  color: #666;
  font-weight: lighter;
}

.notifGoto{
  text-align: center;
  border: solid #777 1px;
  border-radius: 10px;
  width: 90px;
  margin-top: 13px;
  padding: 7px 10px;
}

.notifGoto:hover{
  background-color: #f4f4f4;
}

.notifDate{
  font-size: 10px;
  color: #999;
  font-weight: lighter;
  padding-top: 20px;
  align-self: flex-end;
}































/*---Galaxy---*/
@media screen and (max-width: 300px) and (min-width: 250px){
  .App{
    width: 280px;
    height: 653px;
  }
  .header{
    font-size: 30px;
    height: 190px;
  }
  .header-p{
    font-size: 15px;
  }
  .login{
    height: 250px;
  }
  .login-input{
    font-family: 'Vazir';
    margin: 15px 0;
    width: 220px;
    color: #202124;
    font-size: 15px;
    height: 56px;
  }
  .button-cont{
    width: 250px;
  }
  .create-account{
    font-size: 15px;
  }

  .main-footer{
    margin: 100px 0 0 0;
  }

  .login-button, .submit-button{
    width: 65px;
    border-radius: 5px;
    font-size: .8rem;
    height: 34px;
    line-height: 8px;
  }
  .submit-button{
    width: 95px;
  }
  .mItem{
    width: 96%;
  }
  .addUserInfo-name-more > summary{
    font-size: 13px;
  }
  .userCont{
    padding: 6px;
  }


  .userCont h1{
    font-size: 17px;
  }

  .userCont p{
    font-size: 12px;
  }

  .userContL{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 50%;
  }
  .userContR{
    width: 50%;
  }
  .activityLine{
    transform: scale(.4) translate(155px , -850px);
  }

}

/*---iPhone 5---*/
@media screen and (max-width: 350px) and (min-width: 300px){
  .App{
    width: 320px;
    height: 568px;
    padding: 20px;
    border: none;
  }
  .header-h1{
    font-size: 50px;
    margin-top: -40px;
  }
  .header-p{
    font-size: 17px;
  }
  .header{
    height: 130px;
  }
  .login{
    top: 70px;
    height: 250px;
  }
  .login-input{
    font-family: 'Vazir';
    margin: 15px 0;
    width: 250px;
    color: #202124;
    font-size: 15px;
    height: 46px;
  }
  .button-cont{
    width: 250px;
  }
  .create-account{
    font-size: 15px;
  }

  .login-button, .submit-button{
    width: 65px;
    border-radius: 5px;
    font-size: .8rem;
    height: 34px;
    line-height: 8px;
  }
  .submit-button{
    width: 95px;
  }
  .mItem{
    width: 98%;
  }

  .main-footer{
    margin-top: 135px;
  }

  .mngr-bottom-nav{
    height: 30px;
  }

  .header-mngr{
    height: 30px;
  }
}

/*---S5---*/
@media screen and (max-width: 370px) and (min-width: 350px){
  .App{
    width: 360px;
    height: 640px;
  }
  .header-h1{
    font-size: 50px;
  }
  .header-p{
    font-size: 20px;
  }
  .header{
    height: 130px;
  }
  .login{
    top: 70px;
    height: 250px;
  }
  .login-input{
    font-family: 'Vazir';
    margin: 15px 0;
    width: 250px;
    color: #202124;
    font-size: 15px;
    height: 56px;
  }
  .button-cont{
    width: 250px;
  }
  .create-account{
    font-size: 15px;
  }

  .login-button, .submit-button{
    width: 65px;
    border-radius: 5px;
    font-size: .8rem;
    height: 34px;
    line-height: 8px;
  }
  .submit-button{
    width: 95px;
  }
  .mItem{
    width: 98%;
  }
}


/*---iPhone 6/7/8 Plus---*/
@media screen and (max-width: 500px) and (min-width: 400px){
  .App{
    width: 414px;
    height: 736px;
  }
  .mItem{
    width: 180px;
  }

  .login-input{
    width: 80%;
    margin: 10px 0;
  }
  .main-footer{
    margin-top: 100px;
  }

}

/*---Surface Duo---*/
@media screen and (min-width: 500px) and (max-width: 600px){
  .App{
    width: 540px;
    height: 720px;
  }

  .login{
    margin-top: 90px;
  }

  .login-input{
    width: 350px;
    margin: 20px 0;
  }
}

/*---iPad---*/
@media screen and (min-width: 700px) and (max-width: 800px){
  .App{
    width: 768px;
    height: 1024px;
  }
  .header{
    font-size: 60px;
    height: 280px;
  }
  .header-p{
    margin: -20px 0;
    font-size: 30px;
  }
  .login{
    height: 350px;
  }

  .login-input{
    font-family: 'Vazir';
    margin: 17px 0;
    width: 350px;
    color: #202124;
    font-size: 20px;
    height: 60px;
    margin: 20px 50px;
  }

  .button-cont{
    width: 350px;
  }

  .create-account{
    font-size: 20px;
  }

  .login-button, .submit-button{
    width: 75px;
    border-radius: 5px;
    font-size: 1rem;
    height: 40px;
    line-height: 10px;
  }
  .submit-button{
    width: 115px;
  }
  .main-footer{
    margin-top: 300px;
  }
}

/*---height<800---*/
@media screen and (max-height: 800px) and (min-width: 800px){
  .App{
    width: 375px;
    height: 600px;
  }
  .login{
    margin-top: -50px;
  }
}

/*---height<600---*/
@media screen and (max-height: 600px){
  .App{
    width: 375px;
    height: 500px;
  }
  .login{
    margin-top: -30px;
  }
  .login-input{
    margin: 7px 0;
  }
}
/*---height<500---*/
@media screen and (max-height: 500px){
  .App{
    width: 375px;
    height: 400px;
  }
  .header{
    margin-top: -70px;
  }
  .login{
    margin-top: -40px;
  }
}
